*{
  margin: 0;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

textArea{
  width: 90%;
  height: 100px;
  margin: 10px 0;
  resize: none;
  outline: none;
  font-size: 12px;
  font-family: 'times new roman';
}

.analyse-btn{
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 5px;
}

.analyse-btn:hover{
  opacity: 1;
}

.Results-title{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 20px;
  align-self: center;
}

.or-line{
  display: flex;
  align-items: center;
  margin: 20px 0;
  opacity: 0.4;
}

.line-1{
  width: 46%;
  height: 1px;
  background-color: #333;
  margin-right: 4%;
}

.line-2{
  width: 46%;
  height: 1px;
  background-color: #333;
  margin-left: 4%;
}

.file-upload{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.results-text{
  font-family: 'times new roman';
}



.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}